# ----------------------
# Go / Backend
# ----------------------
# Binaries
/build/*
!/build/.gitkeep

.env

# Go modules
/go.sum
/go.mod

# Editor / OS
*.swp
*.DS_Store

# ----------------------
# Frontend
# ----------------------
# Node modules
/frontend/node_modules/
/frontend/dist/

# Build artifacts
/frontend/dist/
/frontend/build/
/frontend/*.log

# ----------------------
# Terraform / Infra
# ----------------------
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/infra/.terraform/
*.tfplan

# ----------------------
# Logs / temporary
# ----------------------
*.log
*.tmp
*.bak

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

